aiohttp==3.7.3
alembic==1.5.4
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
Babel==2.8.0
backcall==0.2.0
BentoML==0.11.0
blinker==1.4
boto3==1.17.3
botocore==1.20.3
Brlapi==0.7.0
Cerberus==1.3.2
certifi==2020.12.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.3
colorzero==1.1
command-not-found==0.3
configparser==5.0.1
croniter==0.3.31
cryptography==3.0
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.17
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.5.0
distro-info===0.23ubuntu1
docker==4.4.1
Flask==1.1.2
gpiozero==1.5.1
grpcio==1.35.0
guizero==1.1.1
gunicorn==20.0.4
hidpidaemon==18.4.6
httplib2==0.18.1
humanfriendly==9.1
idna==2.10
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
jeepney==0.4.3
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.0
jupyter-client==6.1.11
jupyter-core==4.7.0
kernelstub==3.1.4
keyring==21.3.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
llvmlite==0.35.0
louis==3.14.0
lxml==4.6.2
macaroonbakery==1.3.1
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==2.2.2
meson==0.55.3
mu-editor==1.0.3
multidict==5.1.0
multitasking==0.0.9
netifaces==0.10.4
nudatus==0.0.4
numba==0.52.0
numpy==1.20.0
oauthlib==3.1.0
packaging==20.9
pandas==1.2.1
parso==0.8.1
patsy==0.5.1
pbr==5.5.1
pexpect==4.8.0
pgzero==1.2
pickleshare==0.7.5
pigpio==1.78
Pillow==8.1.0
ply==3.11
pmdarima==1.8.0
pop-transition==1.0.1
prometheus-client==0.9.0
prompt-toolkit==3.0.14
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.7.0
py-zipkin==0.20.1
pycairo==1.16.2
pycodestyle==2.4.0
pycups==2.0.1
pydbus==0.6.0
pyflakes==2.0.0
pygame==1.9.6
Pygments==2.7.4
PyGObject==3.38.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.4.0
pyparsing==2.4.7
PyQt5==5.14.1
PyQt5-sip==12.8.1
PyQtChart==5.14.0
pyRFC3339==1.1
pyserial==3.4
python-apt==2.1.3+ubuntu1.3
python-dateutil==2.8.1
python-debian==0.1.37
python-editor==1.0.4
python-json-logger==2.0.1
python-xlib==0.27
pytz==2021.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.0.2
QScintilla==2.11.4
qtconsole==4.3.1
repolib==1.5.2
repoman==1.4.0
requests==2.25.1
requests-unixsocket==0.2.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.4
safeeyes==2.1.1
scikit-learn==0.24.1
scipy==1.6.0
SecretStorage==3.1.2
semver==2.13.0
sessioninstaller==0.0.0
shortcut==0.0.2
simplejson==3.17.0
six==1.15.0
sktime==0.5.3
SQLAlchemy==1.3.23
SQLAlchemy-Utils==0.36.7
statsmodels==0.12.2
systemd-python==234
tabulate==0.8.7
testresources==2.0.1
threadpoolctl==2.1.0
thriftpy2==0.4.14
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.11
wadllib==1.3.4
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
xkit==0.0.0
yarl==1.6.3
yfinance==0.1.55
